<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.batch_delete_demo.mapper.TestMapper">

    <select id="selectLogEsbSeqLessThan" parameterType="string" resultType="int">
        SELECT log_esb_seq
        FROM tb_log_esb
        WHERE std_ymd <![CDATA[<]]> #{endDate}
        ORDER BY log_esb_seq
    </select>

    <delete id="deleteLogEsbByLogEsbSeqIn" parameterType="java.util.List">
        DELETE FROM tb_log_esb
        WHERE log_esb_seq IN
        <foreach collection="sequences" item="sequence" open="(" separator="," close=")">
            #{sequence}
        </foreach>
    </delete>
</mapper>
